    <div class="col-xs-12 col-md-6 col-lg-4 top">
      <form class="addAir">
        <input type="text" id="newAirport" ng-model="settings.newAirport" /><label for="newAirport">New Airport Name</label></br>
        <input type="text" id="newICAO" ng-model="settings.newICAO" /><label for="newICAO">Four Letter Code</label></br>
        <button class="btn btn-success" ng-click="settings.add()">Add New Airport</button>
      </form>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 top">
      <form class="addAir">
        <input type="text" id="yellowWind" ng-model="settings.yellows.wind" /><label for="yellowWind">Yellow Wind Limit</label></br>
        <input type="text" id="yellowCeiling" ng-model="settings.yellows.ceiling" /><label for="yellowCeiling">Yellow Ceiling Limit</label></br>
        <input type="text" id="yellowVisibility" ng-model="settings.yellows.visibility" /><label for="yellowVisibility">Yellow Visibility Limit</label></br>
        <button class="btn btn-success" ng-click="settings.changeYellow()">Update Yellow Limits</button>
      </form>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 top">
      <form class="addAir">
        <input type="text" id="redWind" ng-model="settings.limits.wind" /><label for="redWind">Red Wind Limit</label></br>
        <input type="text" id="redCeiling" ng-model="settings.limits.ceiling" /><label for="redCeiling">Red Ceiling Limit</label></br>
        <input type="text" id="redVisibility" ng-model="settings.limits.visibility" /><label for="redVisibility">Red Visibility Limit</label></br>
        <button class="btn btn-success" ng-click="settings.changeRed()">Update Red Limits</button>
      </form>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 top">
      <form class="addAir">
        </br>
        <input type="checkbox" id="notify" ng-model="settings.notifications" ng-change="settings.changeNotify()"  ng-true-value="'YES'" ng-false-value="'NO'" />
        <label for="notify">Enable Notifications</label></br>
      </form>
    </div>